
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_User.cshtml";
}

<h2>ติดต่อเจ้ามือ</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body card-block">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="text-input" class="form-control-label">โทร</label></div>
                        <div class="col col-md-6"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="text-input" class="form-control-label">Email</label></div>
                        <div class="col col-md-6"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

    })(jQuery);
</script>