
@{
    ViewBag.Title = "Howto";
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-question-circle"></i>
                <strong class="card-title">วิธีแทง</strong>
            </div>
            <div class="card-body card-block">
                <p>
                    <strong><span style="font-size: 18px;"><span><u>วิธีการกดแทงโพย</u></span></span></strong>
                </p>
                <p>
                    <span style="font-size: 14px;">- ใส่ตัวเลขที่ต้องการแทงแล้วกด enter&nbsp; และช่องถัดมาให้ใส่จำนวนเงินที่ต้องการแทงแล้วกด enter&nbsp; ส่วนช่องถัดไปให้ใส่แบบนี้ ไป เรื่อยๆ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="3">&nbsp;&nbsp;&nbsp; </font></span>
                </p>
                <p>
                    <span style="font-size: 14px;"><font size="3">- </font>มีทั้งหมด 3 แถว รวมแทงได้ 75 ตัว ต่อโพย 1 ใบ คีย์เสร็จแล้ว กดส่งโพย&nbsp;</span>
                </p>
                <p>
                    <span style="font-size: 14px;">- กดปุ่ม&nbsp; <strong><span style="color: rgb(255, 0, 0);">+</span></strong> หรือ <strong><span style="color: rgb(255, 0, 0);">space bar</span></strong>&nbsp; เพื่อเปลี่ยนแทง&nbsp;&nbsp; บ&nbsp;หรือ&nbsp;<span style="color: rgb(255, 0, 0);"> ล</span>&nbsp;&nbsp;หรือ &nbsp; บ+<span style="color: rgb(255, 0, 0);">ล</span>&nbsp;&nbsp;หรือ &nbsp;<span style="color: blue">ห</span>&nbsp;&nbsp;หรือ &nbsp;<span style="color: blue">ห</span>+<span style="color: green">ท</span></span>
                </p>
                <p>
                    <span style="font-size: 14px;">-กดปุ่ม&nbsp;&nbsp;&nbsp;<span style="font-size: 20px;"><strong><span style="color: rgb(255, 0, 0);">*&nbsp;&nbsp;</span></strong></span>&nbsp;หรือ&nbsp;&nbsp;<span style="color: rgb(255, 0, 0);">X</span>&nbsp;ในการแทงโต๊ดหรือตัวกลับ (<span style="font-size: 20px;"><strong><span style="color: rgb(255, 0, 0);">*</span></strong></span> แทนเครื่องหมาย X)&nbsp;&nbsp; </span>
                </p>
                <p>
                    <span style="font-size: 14px;">- </span><span style="font-size: 14px;">ช่องจำนวนเงินที่ใช้แทง ถ้าเหมือนกันกับจำนวนก่อนหน้านี้&nbsp; สามารถกด&nbsp; <strong><span style="color: rgb(255, 0, 0);">Enter</span></strong>&nbsp;ได้เลย&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </p>
                <table border="1" cellpadding="5" cellspacing="0">
                    <tbody>
                        <tr>
                            <td align="left">
                                <u><strong>รูปแบบการแทง</strong></u>
                            </td>
                            <td align="center" colspan="4">
                                <u><strong>วิธีใส่</strong></u>
                            </td>
                            <td align="left">
                                <u><strong>อธิบาย</strong></u>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                วิ่ง บน
                            </td>
                            <td align="left">
                                บ
                            </td>
                            <td>
                                9
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                50000
                            </td>
                            <td align="left">
                                9 แทง วิ่ง บน 50000 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                2 ตัวตรง บน
                            </td>
                            <td align="left">
                                บ
                            </td>
                            <td>
                                78
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                200
                            </td>
                            <td align="left">
                                78 แทง 2 ตัวตรง บน&nbsp; 200 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                2 ตัวตรง บน และตัวกลับ
                            </td>
                            <td align="left">
                                บ
                            </td>
                            <td align="left">
                                78
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                200*300
                            </td>
                            <td align="left">
                                78 แทง 2 ตัวตรง บน&nbsp; 200 บาท<br>
                                87 แทง 2 ตัวตรง บน&nbsp; 300 บาท<br>
                                รวม 500 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง บน
                            </td>
                            <td align="left">
                                บ
                            </td>
                            <td align="left">
                                278
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                278 แทง 3 ตัวตรง บน&nbsp; 100 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวโต๊ด บน
                            </td>
                            <td align="left">
                                บ
                            </td>
                            <td align="left">
                                638
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                *100
                            </td>
                            <td align="left">
                                638 แทง 3 ตัวโต๊ด บน 100 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง และ 3 ตัวโต๊ด บน
                            </td>
                            <td align="left">
                                บ
                            </td>
                            <td align="left">
                                458
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                300*500
                            </td>
                            <td align="left">
                                458 แทง 3 ตัวตรง บน&nbsp; 300 บาท<br>
                                458 แทง 3 ตัวโต๊ด บน 500 บาท<br>
                                รวม 800 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงบน เลขเบิ้ล 3 กลับ
                            </td>
                            <td align="left">
                                บ
                            </td>
                            <td align="left">
                                113*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                113, 131, 311 แทง 3 ตัวตรง บน ตัวละ 100 บาท<br>
                                รวม 300 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงบน 6 กลับ
                            </td>
                            <td align="left">
                                บ
                            </td>
                            <td align="left">
                                930*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                930, 903, 390,309,093,039 แทง 3 ตัวตรง บน ตัวละ 100 บาท<br>
                                รวม 600 บาท
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                วิ่ง ล่าง
                            </td>
                            <td align="left">
                                <span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                6
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                50000
                            </td>
                            <td align="left">
                                6 แทง วิ่ง ล่าง 50000 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                2 ตัวตรง ล่าง
                            </td>
                            <td align="left">
                                <span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                75
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                200
                            </td>
                            <td align="left">
                                75 แทง 2 ตัวตรง ล่าง&nbsp; 200 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                2 ตัวตรง ล่าง และตัวกลับ
                            </td>
                            <td align="left">
                                <span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                78
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                200*300
                            </td>
                            <td align="left">
                                78 แทง 2 ตัวตรง ล่าง&nbsp; 200 บาท<br>
                                87 แทง 2 ตัวตรง ล่าง&nbsp; 300 บาท<br>
                                รวม 500 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง ล่าง
                            </td>
                            <td align="left">
                                <span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                278
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                278 แทง 3 ตัวตรง ล่าง&nbsp; 100 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงล่าง เลขเบิ้ล 3 กลับ
                            </td>
                            <td align="left">
                                <span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                113*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                113, 131, 311 แทง 3 ตัวตรง ล่าง ตัวละ 100 บาท<br>
                                รวม 300 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงล่าง 6 กลับ
                            </td>
                            <td align="left">
                                <span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                930*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                930, 903, 390,309,093,039 แทง 3 ตัวตรง ล่าง ตัวละ 100 บาท<br>
                                รวม 600 บาท
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                2 ตัวตรง บน+ล่าง
                            </td>
                            <td align="left">
                                บ+<span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                75
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                200
                            </td>
                            <td align="left">
                                75 แทง 2 ตัวตรง บน&nbsp; 200 บาท<br>
                                75 แทง 2 ตัวตรง ล่าง&nbsp; 200 บาท<br>
                                รวม 400 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                2 ตัวตรง บน+ล่าง และตัวกลับ
                            </td>
                            <td align="left">
                                บ+<span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                71
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                10*40
                            </td>
                            <td align="left">
                                71 แทง 2 ตัวตรง บน&nbsp; 10 บาท<br>
                                17 แทง 2 ตัวตรง บน&nbsp; 40 บาท<br>
                                71 แทง 2 ตัวตรง ล่าง&nbsp; 10 บาท<br>
                                17 แทง 2 ตัวตรง ล่าง&nbsp; 40 บาท<br>
                                รวม 100 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                2 ตัวตรง บน+ล่าง
                            </td>
                            <td align="left">
                                บ+<span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                71
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100/400
                            </td>
                            <td align="left">
                                71 แทง 2 ตัวตรง บน 100 บาท<br>
                                71 แทง 2 ตัวตรง ล่าง 400 บาท<br>
                                รวม 500 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง บน+ล่าง
                            </td>
                            <td align="left">
                                บ+<span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                786
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                200
                            </td>
                            <td align="left">
                                786 แทง 3 ตัวตรง บน&nbsp; 200<br>
                                786 แทง 3 ตัวตรง ล่าง&nbsp; 200<br>
                                รวม 400
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง บน+ล่าง
                            </td>
                            <td align="left">
                                บ+<span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                125
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100/400
                            </td>
                            <td align="left">
                                125 แทง 3 ตัวตรง บน&nbsp; 100 บาท<br>
                                125 แทง 3 ตัวตรง ล่าง&nbsp; 400 บาท<br>
                                รวม 500 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง บน + 3 ตัวโต๊ด บน +&nbsp; 3 ตัวตรง ล่าง
                            </td>
                            <td align="left">
                                บ+<span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                146
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                200*100/300
                            </td>
                            <td align="left">
                                146 แทง 3 ตัวตรง บน 200 บาท<br>
                                146 แทง 3 ตัวโต๊ด บน 100 บาท<br>
                                146 แทง 3 ตัวตรง ล่าง&nbsp; 300 บาท<br>
                                รวม 600 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงบน ล่าง เลขเบิ้ล 3 กลับ
                            </td>
                            <td align="left">
                                บ+<span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                113*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                113, 131, 311 แทง 3 ตัวตรง บนและล่าง ตัวละ 100 บาท<br>
                                รวม 600 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงบน ล่าง 6 กลับ
                            </td>
                            <td align="left">
                                บ+<span style="color: rgb(255, 0, 0);">ล</span>
                            </td>
                            <td align="left">
                                930*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                930, 903, 390,309,093,039 แทง 3 ตัวตรง บนและส่าง ตัวละ 100 บาท<br>
                                รวม 1200 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง หัว
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>
                            </td>
                            <td align="left">
                                278
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                278 แทง 3 ตัวตรง หัว&nbsp; 100 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวโต๊ด หัว
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>
                            </td>
                            <td align="left">
                                638
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                *100
                            </td>
                            <td align="left">
                                638 แทง 3 ตัวโต๊ด หัว 100 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง และ 3 ตัวโต๊ด หัว
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>
                            </td>
                            <td align="left">
                                458
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                300*500
                            </td>
                            <td align="left">
                                458 แทง 3 ตัวตรง หัว&nbsp; 300 บาท<br>
                                458 แทง 3 ตัวโต๊ด หัว 500 บาท<br>
                                รวม 800 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงหัว เลขเบิ้ล 3 กลับ
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>
                            </td>
                            <td align="left">
                                113*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                113, 131, 311 แทง 3 ตัวตรง หัว ตัวละ 100 บาท<br>
                                รวม 300 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงหัว 6 กลับ
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>
                            </td>
                            <td align="left">
                                930*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                930, 903, 390,309,093,039 แทง 3 ตัวตรง หัว ตัวละ 100 บาท<br>
                                รวม 600 บาท
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง หัว+ท้าย
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>+<span style="color: green">ท</span>
                            </td>
                            <td align="left">
                                786
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                200
                            </td>
                            <td align="left">
                                786 แทง 3 ตัวตรง หัว&nbsp; 200<br>
                                786 แทง 3 ตัวตรง ท้าย&nbsp; 200<br>
                                รวม 400
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรง หัว+ท้าย
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>+<span style="color: green">ท</span>
                            </td>
                            <td align="left">
                                125
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100/400
                            </td>
                            <td align="left">
                                125 แทง 3 ตัวตรง หัว&nbsp; 100 บาท<br>
                                125 แทง 3 ตัวตรง ท้าย&nbsp; 400 บาท<br>
                                รวม 500 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงหัว ท้าย เลขเบิ้ล 3 กลับ
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>+<span style="color: green">ท</span>
                            </td>
                            <td align="left">
                                113*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                113, 131, 311 แทง 3 ตัวตรง หัวและท้าย ตัวละ 100 บาท<br>
                                รวม 600 บาท
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                3 ตัวตรงบน ล่าง 6 กลับ
                            </td>
                            <td align="left">
                                <span style="color: blue">ห</span>+<span style="color: green">ท</span>
                            </td>
                            <td align="left">
                                930*
                            </td>
                            <td align="left">
                                =
                            </td>
                            <td>
                                100
                            </td>
                            <td align="left">
                                930, 903, 390,309,093,039 แทง 3 ตัวตรง หัวและท้าย ตัวละ 100 บาท<br>
                                รวม 1200 บาท
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

    })(jQuery);
</script>