
@{
    ViewBag.Title = "Howto";
    Layout = "~/Views/Shared/_User.cshtml";
}

<h2>วิธีแทง</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body card-block">

            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

    })(jQuery);
</script>