
@{
    ViewBag.Title = "Howto";
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-question-circle"></i>
                <strong class="card-title">วิธีแทง</strong>
            </div>
            <div class="card-body card-block">
                <ul class="list-group">
                    <li class="list-group-item">1 Cras justo odio</li>
                    <li class="list-group-item">2 Dapibus ac facilisis in</li>
                    <li class="list-group-item">3 Morbi leo risus</li>
                    <li class="list-group-item">4 Porta ac consectetur ac</li>
                    <li class="list-group-item">5 Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

    })(jQuery);
</script>