
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card lotto-status">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        หวยรัฐบาล : <b><span id="todayDate"></span></b>
                    </div>
                    <div class="col-md-3">
                        ปิดเวลา : <b><span id="closeTime"></span></b>
                    </div>
                    <div class="col-md-3">
                        สถานะ : <b><span id="lottoStatus"></span></b>
                    </div>
                    <div class="col-md-3">
                        ยอดแทง : <b><span id="totalBetCount"></span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {
        
    })(jQuery);
</script>