
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_User.cshtml";
}

<h2>รหัสผ่าน</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card lotto-status">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        หวยรัฐบาล : <b><span id="todayDate"></span></b>
                    </div>
                    <div class="col-md-3">
                        ปิดเวลา : <b><span id="closeTime"></span></b>
                    </div>
                    <div class="col-md-3">
                        สถานะ : <b><span id="lottoStatus"></span></b>
                    </div>
                    <div class="col-md-3">
                        ยอดแทง : <b><span id="totalBetCount"></span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body card-block">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <h3>เปลี่ยนรหัสผ่าน</h3>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="text-input" class="form-control-label">รหัสสมาชิก</label></div>
                        <div class="col col-md-6"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm" value="M999" disabled></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="text-input" class="form-control-label">รหัสผ่านปัจจุบัน</label></div>
                        <div class="col col-md-6"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="text-input" class="form-control-label">รหัสผ่านใหม่</label></div>
                        <div class="col col-md-6"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label for="text-input" class="form-control-label">ยืนยันรหัสผ่านใหม่</label></div>
                        <div class="col col-md-6"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group" style="text-align:center;">
                        <div class="col col-md-12"><button type="button" class="btn btn-primary">บันทึก</button> <button type="button" class="btn btn-secondary">ยกเลิก</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

    })(jQuery);
</script>
