
@{
    ViewBag.Title = "AllBet";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>ดูเลขทั้งหมด</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card lotto-status">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        หวยรัฐบาล : <b><span id="todayDate"></span></b>
                    </div>
                    <div class="col-md-4">
                        สถานะ : <b><span id="lottoStatus"></span></b>
                    </div>
                    <div class="col-md-4">
                        ยอดรวม : <b><span id="allLotto"></span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col-md-1"><label for="select" class="form-control-label">เรียง</label></div>
                        <div class="col-md-4">
                            <select name="select" id="select" class="form-control-sm form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                        <div class="col-md-1"><label for="select" class="form-control-label">แสดง</label></div>
                        <div class="col-md-4">
                            <select name="select" id="select" class="form-control-sm form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                คิวโพยเข้า : <b>ไม่มีโพย</b>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">สรุป</strong>
            </div>
            <div class="table table-stats" style="text-align:center;">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="4" style="color:white;background-color:#00c292;">สู้บน</th>
                            <th colspan="4" style="color:white;background-color:#00c292;">สู้ล่าง</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th></th>
                            <th style="background-color:white;">1370</th>
                            <th style="background-color:white;">1000</th>
                            <th style="background-color:white;">400</th>
                            <th style="background-color:white;">0</th>
                            <th style="background-color:white;">5000</th>
                            <th style="background-color:white;">10000</th>
                            <th style="background-color:white;">1170</th>
                            <th style="background-color:white;">0</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th></th>
                            <th style="color:white;background-color:red;">2 บน</th>
                            <th style="color:white;background-color:black;">3 บน</th>
                            <th style="color:white;background-color:red;">3 โต๊ด</th>
                            <th style="color:white;background-color:black;">2 โต๊ด</th>
                            <th style="color:white;background-color:red;">วิ่ง บน</th>
                            <th style="color:white;background-color:black;">วื่ง ล่าง</th>
                            <th style="color:white;background-color:red;">2 ล่าง</th>
                            <th style="color:white;background-color:black;">3 ล่าง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
        </div>
    </div>
</div>

<script>
    (function ($) {
        var d = new Date();
        var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
        $('#todayDate').html(strDate);
        $('#lottoStatus').html("ปิดรับแล้ว");
        $('#allLotto').html('18675');
    })(jQuery);
</script>
