
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-list-ol"></i>
                <strong class="card-title">แทงโพย</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>รหัสสมาชิก</th>
                            <th>ชื่อ</th>
                            <th>จำนวนโพย</th>
                            <th>สถานะ</th>
                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#betModal">แทงโพย</button></td>
                            <td>3434</td>
                            <td>Arm</td>
                            <td>1</td>
                            <td>ใช้งาน</td>
                            <td>sdasdsadsads</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="betModal" tabindex="-1" role="dialog" aria-labelledby="betModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="betModalLabel">แทง</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col col-md-5"><label for="text-input" class="form-control-label">โพยใบที่</label></div>
                                <div class="col col-md-7"><input type="text" id="betNo" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-5"><label for="text-input" class="form-control-label">ยอดใบนี้</label></div>
                                <div class="col col-md-7"><input type="text" id="thisTotal" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-5"><label for="text-input" class="form-control-label">จำนวนโพย</label></div>
                                <div class="col col-md-7"><input type="text" id="listCount" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-5"><label for="text-input" class="form-control-label">รับแล้ว</label></div>
                                <div class="col col-md-7"><input type="text" id="received" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col col-md-5"><label for="text-input" class="form-control-label">ยอดคืนงวดนี้</label></div>
                                <div class="col col-md-7"><input type="text" id="returnTotal" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-5"><label for="text-input" class="form-control-label">ยอดแทงงวดนี้</label></div>
                                <div class="col col-md-7"><input type="text" id="betTotal" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-5"><label for="text-input" class="form-control-label">ยอดจ่ายงวดนี้</label></div>
                                <div class="col col-md-7"><input type="text" id="betPrice" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="bet-cell">
                                        <div class="bet-no">1</div>
                                        <div class="bet-type"><div id="t1" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n1" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b1" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">2</div>
                                        <div class="bet-type"><div id="t2" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n2" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b2" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">3</div>
                                        <div class="bet-type"><div id="t3" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n3" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b3" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">4</div>
                                        <div class="bet-type"><div id="t4" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n4" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b4" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">5</div>
                                        <div class="bet-type"><div id="t5" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n5" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b5" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">6</div>
                                        <div class="bet-type"><div id="t6" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n6" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b6" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">7</div>
                                        <div class="bet-type"><div id="t7" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n7" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b7" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">8</div>
                                        <div class="bet-type"><div id="t8" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n8" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b8" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">9</div>
                                        <div class="bet-type"><div id="t9" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n9" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b9" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">10</div>
                                        <div class="bet-type"><div id="t10" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n10" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b10" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">11</div>
                                        <div class="bet-type"><div id="t11" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n11" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b11" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">12</div>
                                        <div class="bet-type"><div id="t12" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n12" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b12" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">13</div>
                                        <div class="bet-type"><div id="t13" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n13" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b13" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">14</div>
                                        <div class="bet-type"><div id="t14" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n14" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b14" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">15</div>
                                        <div class="bet-type"><div id="t15" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n15" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b15" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">16</div>
                                        <div class="bet-type"><div id="t16" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n16" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b16" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">17</div>
                                        <div class="bet-type"><div id="t17" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n17" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b17" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">18</div>
                                        <div class="bet-type"><div id="t18" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n18" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b18" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">19</div>
                                        <div class="bet-type"><div id="t19" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n19" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b19" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">20</div>
                                        <div class="bet-type"><div id="t20" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n20" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b20" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">21</div>
                                        <div class="bet-type"><div id="t21" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n21" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b21" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">22</div>
                                        <div class="bet-type"><div id="t22" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n22" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b22" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">23</div>
                                        <div class="bet-type"><div id="t23" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n23" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b23" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">24</div>
                                        <div class="bet-type"><div id="t24" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n24" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b24" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">25</div>
                                        <div class="bet-type"><div id="t25" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n25" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b25" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">26</div>
                                        <div class="bet-type"><div id="t26" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n26" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b26" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">27</div>
                                        <div class="bet-type"><div id="t27" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n27" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b27" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">28</div>
                                        <div class="bet-type"><div id="t28" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n28" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b28" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">29</div>
                                        <div class="bet-type"><div id="t29" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n29" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b29" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">30</div>
                                        <div class="bet-type"><div id="t30" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n30" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b30" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="bet-cell">
                                        <div class="bet-no">31</div>
                                        <div class="bet-type"><div id="t31" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n31" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b31" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">32</div>
                                        <div class="bet-type"><div id="t32" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n32" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b32" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">33</div>
                                        <div class="bet-type"><div id="t33" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n33" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b33" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">34</div>
                                        <div class="bet-type"><div id="t34" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n34" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b34" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">35</div>
                                        <div class="bet-type"><div id="t35" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n35" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b35" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">36</div>
                                        <div class="bet-type"><div id="t36" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n36" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b36" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">37</div>
                                        <div class="bet-type"><div id="t37" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n37" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b37" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">38</div>
                                        <div class="bet-type"><div id="t38" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n38" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b38" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">39</div>
                                        <div class="bet-type"><div id="t39" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n39" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b39" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">40</div>
                                        <div class="bet-type"><div id="t40" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n40" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b40" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">41</div>
                                        <div class="bet-type"><div id="t41" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n41" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b41" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">42</div>
                                        <div class="bet-type"><div id="t42" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n42" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b42" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">43</div>
                                        <div class="bet-type"><div id="t43" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n43" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b43" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">44</div>
                                        <div class="bet-type"><div id="t44" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n44" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b44" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">45</div>
                                        <div class="bet-type"><div id="t45" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n45" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b45" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">46</div>
                                        <div class="bet-type"><div id="t46" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n46" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b46" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">47</div>
                                        <div class="bet-type"><div id="t47" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n47" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b47" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">48</div>
                                        <div class="bet-type"><div id="t48" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n48" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b48" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">49</div>
                                        <div class="bet-type"><div id="t49" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n49" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b49" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">50</div>
                                        <div class="bet-type"><div id="t50" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n50" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b50" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">51</div>
                                        <div class="bet-type"><div id="t51" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n51" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b51" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">52</div>
                                        <div class="bet-type"><div id="t52" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n52" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b52" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">53</div>
                                        <div class="bet-type"><div id="t53" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n53" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b53" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">54</div>
                                        <div class="bet-type"><div id="t54" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n54" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b54" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">55</div>
                                        <div class="bet-type"><div id="t55" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n55" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b55" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">56</div>
                                        <div class="bet-type"><div id="t56" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n56" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b56" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">57</div>
                                        <div class="bet-type"><div id="t57" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n57" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b57" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">58</div>
                                        <div class="bet-type"><div id="t58" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n58" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b58" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">59</div>
                                        <div class="bet-type"><div id="t59" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n59" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b59" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">60</div>
                                        <div class="bet-type"><div id="t60" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n60" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b60" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="bet-cell">
                                        <div class="bet-no">61</div>
                                        <div class="bet-type"><div id="t61" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n61" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b61" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">62</div>
                                        <div class="bet-type"><div id="t62" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n62" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b62" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">63</div>
                                        <div class="bet-type"><div id="t63" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n63" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b63" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">64</div>
                                        <div class="bet-type"><div id="t64" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n64" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b64" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">65</div>
                                        <div class="bet-type"><div id="t65" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n65" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b65" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">66</div>
                                        <div class="bet-type"><div id="t66" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n66" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b66" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">67</div>
                                        <div class="bet-type"><div id="t67" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n67" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b67" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">68</div>
                                        <div class="bet-type"><div id="t68" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n68" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b68" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">69</div>
                                        <div class="bet-type"><div id="t69" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n69" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b69" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">70</div>
                                        <div class="bet-type"><div id="t70" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n70" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b70" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">71</div>
                                        <div class="bet-type"><div id="t71" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n71" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b71" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">72</div>
                                        <div class="bet-type"><div id="t72" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n72" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b72" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">73</div>
                                        <div class="bet-type"><div id="t73" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n73" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b73" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">74</div>
                                        <div class="bet-type"><div id="t74" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n74" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b74" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">75</div>
                                        <div class="bet-type"><div id="t75" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n75" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b75" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">76</div>
                                        <div class="bet-type"><div id="t76" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n76" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b76" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">77</div>
                                        <div class="bet-type"><div id="t77" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n77" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b77" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">78</div>
                                        <div class="bet-type"><div id="t78" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n78" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b78" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">79</div>
                                        <div class="bet-type"><div id="t79" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n79" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b79" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">80</div>
                                        <div class="bet-type"><div id="t80" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n80" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b80" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">81</div>
                                        <div class="bet-type"><div id="t81" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n81" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b81" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">82</div>
                                        <div class="bet-type"><div id="t82" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n82" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b82" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">83</div>
                                        <div class="bet-type"><div id="t83" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n83" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b83" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">84</div>
                                        <div class="bet-type"><div id="t84" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n84" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b84" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">85</div>
                                        <div class="bet-type"><div id="t85" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n85" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b85" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">86</div>
                                        <div class="bet-type"><div id="t86" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n86" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b86" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">87</div>
                                        <div class="bet-type"><div id="t87" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n87" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b87" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">88</div>
                                        <div class="bet-type"><div id="t88" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n88" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b88" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">89</div>
                                        <div class="bet-type"><div id="t89" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n89" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b89" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                    <div class="bet-cell">
                                        <div class="bet-no">90</div>
                                        <div class="bet-type"><div id="t90" class="form-control form-control-sm input-bet-type">บ</div></div>
                                        <div class="bet-lotto"><input id="n90" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                        <div class="bet-equal">=</div>
                                        <div class="bet-price"><input id="b90" type="text" class="form-control form-control-sm input-color" placeholder=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="sendLotto">ส่ง</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($) {
        $('#bootstrap-data-table').DataTable({
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
        });

        $(".bet-type").click(function () {
            $(this).find(".input-bet-type").fadeOut(function () {
                $(this).css('cursor', 'default').css('text-decoration', 'none');

                var text = $(this).text();
                if (text == 'บ') {
                    $(this).text('ล').fadeIn();
                }
                if (text == 'ล') {
                    $(this).text('บ+ล').fadeIn();
                }
                if (text == 'บ+ล') {
                    $(this).text('ห').fadeIn();
                }
                if (text == 'ห') {
                    $(this).text('ห+ท').fadeIn();
                }
                if (text == 'ห+ท') {
                    $(this).text('บ').fadeIn();
                }
            })
        });

        $("#sendLotto").click(function () {
            var bet = {
                betNo: $('#betNo').val(),
                thisTotal: $('#thisTotal').val(),
                listCount: $('#listCount').val(),
                received: $('#received').val(),
                returnTotal: $('#returnTotal').val(),
                betTotal: $('#betTotal').val(),
                betPrice: $('#betPrice').val(),
                t1: $('#t1').text(),
                n1: $('#n1').val(),
                b1: $('#b1').val(),
                t2: $('#t2').text(),
                n2: $('#n2').val(),
                b2: $('#b2').val(),
                t3: $('#t3').text(),
                n3: $('#n3').val(),
                b3: $('#b3').val(),
                t4: $('#t4').text(),
                n4: $('#n4').val(),
                b4: $('#b4').val(),
                t5: $('#t5').text(),
                n5: $('#n5').val(),
                b5: $('#b5').val(),
                t6: $('#t6').text(),
                n6: $('#n6').val(),
                b6: $('#b6').val(),
                t7: $('#t7').text(),
                n7: $('#n7').val(),
                b7: $('#b7').val(),
                t8: $('#t8').text(),
                n8: $('#n8').val(),
                b8: $('#b8').val(),
                t9: $('#t9').text(),
                n9: $('#n9').val(),
                b9: $('#b9').val(),
                t10: $('#t10').text(),
                n10: $('#n10').val(),
                b10: $('#b10').val(),
                t11: $('#t11').text(),
                n11: $('#n11').val(),
                b11: $('#b11').val(),
                t12: $('#t12').text(),
                n12: $('#n12').val(),
                b12: $('#b12').val(),
                t13: $('#t13').text(),
                n13: $('#n13').val(),
                b13: $('#b13').val(),
                t14: $('#t14').text(),
                n14: $('#n14').val(),
                b14: $('#b14').val(),
                t15: $('#t15').text(),
                n15: $('#n15').val(),
                b15: $('#b15').val(),
                t16: $('#t16').text(),
                n16: $('#n16').val(),
                b16: $('#b16').val(),
                t17: $('#t17').text(),
                n17: $('#n17').val(),
                b17: $('#b17').val(),
                t18: $('#t18').text(),
                n18: $('#n18').val(),
                b18: $('#b18').val(),
                t19: $('#t19').text(),
                n19: $('#n19').val(),
                b19: $('#b19').val(),
                t20: $('#t20').text(),
                n20: $('#n20').val(),
                b20: $('#b20').val(),
                t21: $('#t21').text(),
                n21: $('#n21').val(),
                b21: $('#b21').val(),
                t22: $('#t22').text(),
                n22: $('#n22').val(),
                b22: $('#b22').val(),
                t23: $('#t23').text(),
                n23: $('#n23').val(),
                b23: $('#b23').val(),
                t24: $('#t24').text(),
                n24: $('#n24').val(),
                b24: $('#b24').val(),
                t25: $('#t25').text(),
                n25: $('#n25').val(),
                b25: $('#b25').val(),
                t26: $('#t26').text(),
                n26: $('#n26').val(),
                b26: $('#b26').val(),
                t27: $('#t27').text(),
                n27: $('#n27').val(),
                b27: $('#b27').val(),
                t28: $('#t28').text(),
                n28: $('#n28').val(),
                b28: $('#b28').val(),
                t29: $('#t29').text(),
                n29: $('#n29').val(),
                b29: $('#b29').val(),
                t30: $('#t30').text(),
                n30: $('#n30').val(),
                b30: $('#b30').val(),
                t31: $('#t31').text(),
                n31: $('#n31').val(),
                b31: $('#b31').val(),
                t32: $('#t32').text(),
                n32: $('#n32').val(),
                b32: $('#b32').val(),
                t33: $('#t33').text(),
                n33: $('#n33').val(),
                b33: $('#b33').val(),
                t34: $('#t34').text(),
                n34: $('#n34').val(),
                b34: $('#b34').val(),
                t35: $('#t35').text(),
                n35: $('#n35').val(),
                b35: $('#b35').val(),
                t36: $('#t36').text(),
                n36: $('#n36').val(),
                b36: $('#b36').val(),
                t37: $('#t37').text(),
                n37: $('#n37').val(),
                b37: $('#b37').val(),
                t38: $('#t38').text(),
                n38: $('#n38').val(),
                b38: $('#b38').val(),
                t39: $('#t39').text(),
                n39: $('#n39').val(),
                b39: $('#b39').val(),
                t40: $('#t40').text(),
                n40: $('#n40').val(),
                b40: $('#b40').val(),
                t41: $('#t41').text(),
                n41: $('#n41').val(),
                b41: $('#b41').val(),
                t42: $('#t42').text(),
                n42: $('#n42').val(),
                b42: $('#b42').val(),
                t43: $('#t43').text(),
                n43: $('#n43').val(),
                b43: $('#b43').val(),
                t44: $('#t44').text(),
                n44: $('#n44').val(),
                b44: $('#b44').val(),
                t45: $('#t45').text(),
                n45: $('#n45').val(),
                b45: $('#b45').val(),
                t46: $('#t46').text(),
                n46: $('#n46').val(),
                b46: $('#b46').val(),
                t47: $('#t47').text(),
                n47: $('#n47').val(),
                b47: $('#b47').val(),
                t48: $('#t48').text(),
                n48: $('#n48').val(),
                b48: $('#b48').val(),
                t49: $('#t49').text(),
                n49: $('#n49').val(),
                b49: $('#b49').val(),
                t50: $('#t50').text(),
                n50: $('#n50').val(),
                b50: $('#b50').val(),
                t51: $('#t51').text(),
                n51: $('#n51').val(),
                b51: $('#b51').val(),
                t52: $('#t52').text(),
                n52: $('#n52').val(),
                b52: $('#b52').val(),
                t53: $('#t53').text(),
                n53: $('#n53').val(),
                b53: $('#b53').val(),
                t54: $('#t54').text(),
                n54: $('#n54').val(),
                b54: $('#b54').val(),
                t55: $('#t55').text(),
                n55: $('#n55').val(),
                b55: $('#b55').val(),
                t56: $('#t56').text(),
                n56: $('#n56').val(),
                b56: $('#b56').val(),
                t57: $('#t57').text(),
                n57: $('#n57').val(),
                b57: $('#b57').val(),
                t58: $('#t58').text(),
                n58: $('#n58').val(),
                b58: $('#b58').val(),
                t59: $('#t59').text(),
                n59: $('#n59').val(),
                b59: $('#b59').val(),
                t60: $('#t60').text(),
                n60: $('#n60').val(),
                b60: $('#b60').val(),
                t60: $('#t60').text(),
                n60: $('#n60').val(),
                b60: $('#b60').val(),
                t61: $('#t61').text(),
                n61: $('#n61').val(),
                b61: $('#b61').val(),
                t62: $('#t62').text(),
                n62: $('#n62').val(),
                b62: $('#b62').val(),
                t63: $('#t63').text(),
                n63: $('#n63').val(),
                b63: $('#b63').val(),
                t64: $('#t64').text(),
                n64: $('#n64').val(),
                b64: $('#b64').val(),
                t65: $('#t65').text(),
                n65: $('#n65').val(),
                b65: $('#b65').val(),
                t66: $('#t66').text(),
                n66: $('#n66').val(),
                b66: $('#b66').val(),
                t67: $('#t67').text(),
                n67: $('#n67').val(),
                b67: $('#b67').val(),
                t68: $('#t68').text(),
                n68: $('#n68').val(),
                b68: $('#b68').val(),
                t69: $('#t69').text(),
                n69: $('#n69').val(),
                b69: $('#b69').val(),
                t70: $('#t70').text(),
                n70: $('#n70').val(),
                b70: $('#b70').val(),
                t71: $('#t71').text(),
                n71: $('#n71').val(),
                b71: $('#b71').val(),
                t72: $('#t72').text(),
                n72: $('#n72').val(),
                b72: $('#b72').val(),
                t73: $('#t73').text(),
                n73: $('#n73').val(),
                b73: $('#b73').val(),
                t74: $('#t74').text(),
                n74: $('#n74').val(),
                b74: $('#b74').val(),
                t75: $('#t75').text(),
                n75: $('#n75').val(),
                b75: $('#b75').val(),
                t76: $('#t76').text(),
                n76: $('#n76').val(),
                b76: $('#b76').val(),
                t77: $('#t77').text(),
                n77: $('#n77').val(),
                b77: $('#b77').val(),
                t78: $('#t78').text(),
                n78: $('#n78').val(),
                b78: $('#b78').val(),
                t79: $('#t79').text(),
                n79: $('#n79').val(),
                b79: $('#b79').val(),
                t70: $('#t70').text(),
                n70: $('#n70').val(),
                b70: $('#b70').val(),
                t81: $('#t81').text(),
                n81: $('#n81').val(),
                b81: $('#b81').val(),
                t82: $('#t82').text(),
                n82: $('#n82').val(),
                b82: $('#b82').val(),
                t83: $('#t83').text(),
                n83: $('#n83').val(),
                b83: $('#b83').val(),
                t84: $('#t84').text(),
                n84: $('#n84').val(),
                b84: $('#b84').val(),
                t85: $('#t85').text(),
                n85: $('#n85').val(),
                b85: $('#b85').val(),
                t86: $('#t86').text(),
                n86: $('#n86').val(),
                b86: $('#b86').val(),
                t87: $('#t87').text(),
                n87: $('#n87').val(),
                b87: $('#b87').val(),
                t88: $('#t88').text(),
                n88: $('#n88').val(),
                b88: $('#b88').val(),
                t89: $('#t89').text(),
                n89: $('#n89').val(),
                b89: $('#b89').val(),
                t90: $('#t90').text(),
                n90: $('#n90').val(),
                b90: $('#b90').val()
            };
            alert(JSON.stringify(bet));
        });
    })(jQuery);
</script>
