
@{
    ViewBag.Title = "Cut";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>ตัดเลข</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card lotto-status">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        หวยรัฐบาล : <b><span id="todayDate"></span></b>
                    </div>
                    <div class="col-md-4">
                        สถานะ : <b><span id="lottoStatus"></span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

    })(jQuery);
</script>

