
@{
    ViewBag.Title = "DealerInfo";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-user"></i>
                <strong class="card-title">ข้อมูลเจ้ามือ</strong>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
            

<script>
    (function ($) {

    })(jQuery);
</script>

