
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card lotto-status">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            หวยรัฐบาล : <b><span id="todayDate"></span></b>
                        </div>
                        <div class="col-md-6">
                            สถานะ : <b><span id="lottoStatus"></span></b>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /# column -->
        <div class="col-md-12">
            <div class="card" id="ipContent">
                <div class="card-body">
                    <center>IP Address ของคุณคือ <span id="ip"></span></center>
                    <center>เข้าใช้งานล่าสุดเมื่อ <span id="lastSignout"></span> จาก IP Address <span id="lastIp"></span></center>
                </div>
            </div>
        </div>
    </div>

<script>
    (function ($) {
        var d = new Date();
        var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
        $('#todayDate').html(strDate);
        $('#lottoStatus').html("ปิดรับแล้ว");
        $.getJSON("http://jsonip.com?callback=?", function (data) {
            $("#ip").text(data.ip);
            $("#lastIp").text(data.ip);
        });
        $('#lastSignout').html('2019-01-01 13:00:00');
    })(jQuery);
</script>