
@{
    ViewBag.Title = "MemberPrice";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>ราคาสมาชิก</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card lotto-status">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        หวยรัฐบาล : <b><span id="todayDate"></span></b>
                    </div>
                    <div class="col-md-4">
                        สถานะ : <b><span id="lottoStatus"></span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">สมาชิก</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-bordered">
                    <thead>
                        <tr style="text-align:center;">
                            <th rowspan="2">รหัสสมาชิก</th>
                            <th rowspan="2">ชื่อ</th>
                            <th colspan="2">3 บน</th>
                            <th colspan="2">3 โต๊ด</th>
                            <th colspan="2">2 บน</th>
                            <th colspan="2">2 โต๊ด</th>
                            <th colspan="2">วิ่ง บน</th>
                            <th colspan="2">3 ล่าง</th>
                            <th colspan="2">2 ล่าง</th>
                            <th colspan="2">วิ่ง ล่าง</th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr>
                            <th>ราคา</th>
                            <th>ลด %</th>
                            <th>ราคา</th>
                            <th>ลด %</th>
                            <th>ราคา</th>
                            <th>ลด %</th>
                            <th>ราคา</th>
                            <th>ลด %</th>
                            <th>ราคา</th>
                            <th>ลด %</th>
                            <th>ราคา</th>
                            <th>ลด %</th>
                            <th>ราคา</th>
                            <th>ลด %</th>
                            <th>ราคา</th>
                            <th>ลด %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>M3434</td>
                            <td>#z#WREXSEXSxw</td>
                            <td>900</td>
                            <td>0</td>
                            <td>900</td>
                            <td>0</td>
                            <td>900</td>
                            <td>0</td>
                            <td>900</td>
                            <td>0</td>
                            <td>900</td>
                            <td>0</td>
                            <td>900</td>
                            <td>0</td>
                            <td>900</td>
                            <td>0</td>
                            <td>900</td>
                            <td>0</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPriceModal">แก้ไข</button>
                                <button type="button" class="btn btn-warning">Copy</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPriceModal" tabindex="-1" role="dialog" aria-labelledby="editPriceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPriceModalLabel">M8999</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-sm" style="text-align:center;" width="100%">
                    <thead>
                        <tr style="color:white;background-color:blue;">
                            <th nowrap>การแทง</th>
                            <th nowrap>ราคาจ่าย</th>
                            <th nowrap>ส่วนลด(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3 บน</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>3 โต๊ด</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>2 บน</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>2 โต๊ด</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>วิ่ง บน</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>3 ล่าง</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>2 ล่าง</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>วิ่ง ล่าง</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>3 หน้า</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">บันทึก</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {
        $('#bootstrap-data-table').DataTable({
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
        });
    })(jQuery);
</script>
