
@{
    ViewBag.Title = "Out";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>แทงออก</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card" style="overflow-x:auto;width:200%;">
            <div class="card-header">
                <strong class="card-title">โพยแทงออกใบที่1</strong>
            </div>
            <div class="card-body table-bordered table-sm">
                <table class="table" style="text-align:center;">
                    <thead>
                        <tr>
                            <th style="color:white;background-color:red;">2 บน</th>
                            <th style="color:white;background-color:black;">3 บน</th>
                            <th style="color:white;background-color:red;">3 โต๊ด</th>
                            <th style="color:white;background-color:black;">2 โต๊ด</th>
                            <th style="color:white;background-color:red;">วิ่ง บน</th>
                            <th style="color:white;background-color:black;">วื่ง ล่าง</th>
                            <th style="color:white;background-color:red;">2 ล่าง</th>
                            <th style="color:white;background-color:black;">3 ล่าง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background-color:rgba(255, 0, 0, 0.1);">
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 0, 0, 0.1);">
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 0, 0, 0.1);">
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 0, 0, 0.1);">
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5"><input id="" type="text" class="form-control form-control-sm" placeholder="เลข"></div>
                                    <div class="col-7"><input id="" type="text" class="form-control form-control-sm" placeholder="ราคา"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <center><button type="button" class="btn btn-primary btn-sm">บันทึก</button></center>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

    })(jQuery);
</script>

