
@{
    ViewBag.Title = "Out";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">แทงออก</strong>
            </div>
            <div class="card-body table-bordered table-sm">
                <table class="table" style="text-align:center;">
                    <thead>
                        <tr>
                            <th style="border: 0;color:white;background-color:red;">2 บน</th>
                            <th style="border: 0;color:white;background-color:black;">3 บน</th>
                            <th style="border: 0;color:white;background-color:red;">3 โต๊ด</th>
                            <th style="border: 0;color:white;background-color:black;">3 หน้า</th>
                            <th style="border: 0;color:white;background-color:red;">3 หน้าโต๊ด</th>
                            <th style="border: 0;color:white;background-color:black;">วิ่ง บน</th>
                            <th style="border: 0;color:white;background-color:red;">วื่ง ล่าง</th>
                            <th style="border: 0;color:white;background-color:black;">2 ล่าง</th>
                            <th style="border: 0;color:white;background-color:red;">3 ล่าง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 0, 0, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 0, 0, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 0, 0, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 0, 0, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                            <td style="background-color:rgba(255, 255, 255, 0.1);">
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                                <div class="form-group">
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="เลข" style="float:left;width:40%;">
                                    <div style="float:left;width:10%;">=</div>
                                    <input id="" type="text" class="form-control form-control-sm-custom" placeholder="ราคา" style="width:50%">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-1 offset-3" style="padding-top:5px;text-align:right;font-size:14px">
                        แบ่งเป็น
                    </div>
                    <div class="col-md-1">
                        <input type="text" id="pollnum" value="1" class="form-control form-control-sm" onkeypress="return keyPress(this, event);" />
                    </div>
                    <div class="col-md-1" style="padding-top:5px;text-align:left;font-size:14px">
                        โพย
                    </div>
                    <div class="col-md-1" style="text-align:left">
                        <button type="button" class="btn btn-block btn-sm btn-primary" id="save">บันทึก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     addPollBetout= '@Url.Action("addPollBetOut", "Admin")';
    (function ($) {
        var value;

        $('#bet_info_template').tmpl(value).appendTo('#bet_info_area');

    })(jQuery);
    $("#save").click(function () {
        if ($("#pollnum").val() == "0") {
            Swal.fire({
                type: 'warning',
                title: 'จำนวนโพยต้องมากกว่า 0',
                showConfirmButton: true,
            });
        }
        else {
            $.ajax({
                url: addPollBetout,
                data: { poll: betOut, pollnum: $("#pollnum").val() },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        Swal.fire({
                            type: 'success',
                            title: 'บันทึกเรียบร้อย',
                            showConfirmButton: false,
                            timer: 1500,
                            onAfterClose: () => {
                                location.reload();
                            }
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("error");
                }
            });
        }
    });
</script>

