@model Lotto.Models.Account
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-lock"></i>
                <strong class="card-title">รหัสผ่าน</strong>
            </div>
            <div class="card-body card-block">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <h3>เปลี่ยนรหัสผ่าน</h3>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4"><label for="user_id" class="form-control-label">รหัสสมาชิก</label></div>
                        <div class="col col-md-8"><input type="text" id="user-id" name="user_id" class="form-control form-control-sm" disabled value="@Model.Username"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4"><label for="user_password" class="form-control-label">รหัสผ่านปัจจุบัน</label></div>
                        <div class="col col-md-8"><input type="password" id="user-password" name="user_password" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4"><label for="user_new_password" class="form-control-label">รหัสผ่านใหม่</label></div>
                        <div class="col col-md-8"><input type="password" id="user-new-password" name="user_new_password" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4"><label for="user_comfirm_new_password" class="form-control-label">ยืนยันรหัสผ่านใหม่</label></div>
                        <div class="col col-md-8"><input type="password" id="user-comfirm-new-password" name="user_comfirm_new_password" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group" style="text-align:center;">
                        <div class="col col-md-12"><button type="button" class="btn btn-primary" id="confirmChange">บันทึก</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
     // URL
    updatePassword = '@Url.Action("ChangePassword", "Admin")';  

    $("#confirmChange").click(function () {
    if ($("#user-password").val() == "" || $("#user-new-password").val() == "" || $("#user-comfirm-new-password").val() == "") {
        Swal.fire('กรุณากรอกข้อมูลให้ครบถ้วน');
    }
    else if ($("#user-new-password").val() != $("#user-comfirm-new-password").val()) {
        Swal.fire('กรุณากรอกรหัสผ่านใหม่ให้ถูกต้อง');
    }
    else {
        $.ajax({
            url: updatePassword,
            data: { OldPass: $("#user-password").val(), NewPass: $("#user-comfirm-new-password").val() },
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data == "ss") {
                    Swal.fire({
                        type: 'success',
                        title: 'เปลี่ยนรหัสผ่านเรียบร้อย',
                        showConfirmButton: false,
                        timer: 1500,
                        onClose: () => {
                            location.reload();
                        }
                    });
                }
                else {
                    Swal.fire('กรุณากรอกรหัสผ่านเก่าให้ถูกต้อง')
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("error");
            }
        });
    }
}); 
</script>
