
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>ตั้งค่า</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-sm" width="100%">
                    <thead>
                        <tr style="color:white;background-color:blue;text-align:center;">
                            <th width="50%">ราคาจ่าย</th>
                            <th width="50%">ค่า</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>เปิดให้สมาชิกใช้งาน</td>
                            <td>
                                <div class="form-check-inline form-check">
                                    <label for="" class="form-check-label ">
                                        <input type="radio" id="" name="" value="true" class="form-check-input">ใช่
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label for="" class="form-check-label ">
                                        <input type="radio" id="" name="" value="false" class="form-check-input">ไม่ใช่
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>พนักงานแทงเลขเต็มได้</td>
                            <td>
                                <div class="form-check-inline form-check">
                                    <label for="" class="form-check-label">
                                        <input type="radio" id="" name="" value="true" class="form-check-input">ใช่
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label for="" class="form-check-label">
                                        <input type="radio" id="" name="" value="false" class="form-check-input">ไม่ใช่
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>รับโพยอัตโนมัติ(ถ้าเลือก "ไม่ใช่" จะดูจากสมาชิก)</td>
                            <td>
                                <div class="form-check-inline form-check">
                                    <label for="" class="form-check-label ">
                                        <input type="radio" id="" name="" value="true" class="form-check-input">ใช่
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label for="" class="form-check-label ">
                                        <input type="radio" id="" name="" value="false" class="form-check-input">ไม่ใช่
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>ตัวนำหน้ารหัสสมาชิก</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>ตัวนำหน้ารหัสสมาชิกย่อย</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>ตัวนำหน้ารหัสพนักงาน</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>ตัดเศษ สู้บน</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>ตัดเศษ สู้ล่าง</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>ตัดเศษ ตัดเลข</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                        <tr>
                            <td>จำนวนช่องแทงโพย</td>
                            <td><input class="form-control form-control-sm" type="text" id="" /></td>
                        </tr>
                    </tbody>
                </table>

                <center>
                    <button type="button" class="btn btn-primary">บันทึก</button>
                    <button type="button" class="btn btn-danger">ยกเลิก</button>
                </center>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

    })(jQuery);
</script>

