
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-cogs"></i>
                <strong class="card-title">ตั้งค่า</strong>
            </div>
            <div class="card-body">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
<!--                     <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">เปิดให้สมาชิกใช้งาน</label></div>
                        <div class="col-12 col-md-7">
                            <div class="form-check-inline form-check">
                                <label for="" class="form-check-label ">
                                    <input type="radio" id="" name="" value="true" class="form-check-input">ใช่
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <label for="" class="form-check-label ">
                                    <input type="radio" id="" name="" value="false" class="form-check-input">ไม่ใช่
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">พนักงานแทงเลขเต็มได้</label></div>
                        <div class="col-12 col-md-7">
                            <div class="form-check-inline form-check">
                                <label for="" class="form-check-label ">
                                    <input type="radio" id="" name="" value="true" class="form-check-input">ใช่
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <label for="" class="form-check-label ">
                                    <input type="radio" id="" name="" value="false" class="form-check-input">ไม่ใช่
                                </label>
                            </div>
                        </div>
                    </div> -->
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">รับโพยอัตโนมัติ (ถ้าเลือก "ไม่ใช่" จะดูจากสมาชิก)</label></div>
                        <div class="col-12 col-md-7">
                            <div class="form-check-inline form-check">
                                <label for="" class="form-check-label ">
                                    <input type="radio" id="autoPollAcceptTrue" name="auto_poll_accept" value="1" class="form-check-input">ใช่
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <label for="" class="form-check-label ">
                                    <input type="radio" id="autoPollAcceptFalse" name="auto_poll_accept" value="0" class="form-check-input">ไม่ใช่
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">เวลาปิดอัตโนมัติ</label></div>
                        <div class="col-12 col-md-7"><input class="form-control form-control-sm" type="text" id="settingAutoCloseTime" /></div>
                    </div>
                    <!-- <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">ตัวนำหน้ารหัสสมาชิก</label></div>
                        <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">ตัวนำหน้ารหัสสมาชิกย่อย</label></div>
                        <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">ตัวนำหน้ารหัสพนักงาน</label></div>
                        <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">ตัดเศษ สู้บน</label></div>
                        <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">ตัดเศษ สู้ล่าง</label></div>
                        <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">ตัดเศษ ตัดเลข</label></div>
                        <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class="form-control-label">จำนวนช่องแทงโพย</label></div>
                        <div class="col-12 col-md-7"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                    </div> -->
                    <div class="row form-group">
                        <div class="col-12">
                            <center>
                                <button type="button" class="btn btn-primary" id="saveSetting">บันทึก</button>
                                <button type="button" class="btn btn-danger">ยกเลิก</button>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        updateSetting = '@Url.Action("UpdateSetting", "Admin")';
</script>

<script>

    $("#saveSetting").click(function () {

        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: updateSetting,
            data: { 
                Accept: $('input[name=auto_poll_accept]:checked').val(),
                Close: $('#settingAutoCloseTime').val()
            },
            success: function (data) {          
                if (data == "ss") {
					Swal.fire({
						type: 'success',
						title: 'แก้ไขข้อมูลเรียบร้อย',
						showConfirmButton: false,
						timer: 1500
					});
				}
            },
            failure: function (response) {          
                alert("error");
            }
        }); 
    });
</script>

